*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.App{
    margin: 20px;
}

.head{
    text-align: center;
    
    color: blueviolet;
}

.point{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
    
}
.choice {
    display: flex;
    justify-content: center;
}
.btn{
    margin: 30px;
    position: relative;

    left: 350px;
    padding: 15px;
    background-color: blueviolet;
    color: white;
    font-size: medium;
    text-decoration: double;
    border: none;
    width: 10vw;
    cursor: pointer;
    border-radius: 10px;
    
}
.rbtn{

    margin: 30px;
    position: relative;

    left: 550px;
    
    padding: 15px;
    background-color: blueviolet;
    color: white;
    font-size: medium;
    text-decoration: double;
    border: none;
    width: 10vw;
    cursor: pointer;
    border-radius: 10px;

}
.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}